* {
      font-family: 'Poppins', sans-serif; /* Set font-family to Poppins */
    }

    body {
      margin: 0;
      padding: 0;
      background-color: #f2f2f2;
    }
    .notification-container {
      display: none;
      min-width: 250px;
      text-align: center;
      position: fixed;
      bottom: 50px; /* Adjust as needed */
      right: 20px; /* Adjust as needed */
      background-color: #fff;
      color: red;
      padding: 15px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      z-index: 1000;
    }
    .container{
      background-color: #fefefe;
      margin: 40px auto; /* 15% from the top and centered */
      padding: 25px;
      border: 1px solid blue;
      width: 30%; /* Could be more or less, depending on screen size */
      min-width: 350px;
      min-height: 520px;
      border-radius: 10px;
      box-sizing: border-box;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    .container h2, .container h4{
      text-align: center;
      margin-top: 0;
    }
    .container h2{
      color: blue;
    }
    .container p{
      margin-top: 40px;
      font-size: small;
      text-decoration: none;
    }
    input[type="email"], input[type="text"], input[type="password"]{
      margin-top: 20px;
      width: 100%;
      padding: 10px;
      margin-right: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    input[type="email"], input[type="text"] {
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    input:focus {
      outline: none;
      border: none;
      border-radius: 0px;
      border-bottom: 2px solid blue;
    }
    input[type="submit"] {
      margin-top: 40px;
      width: 100%;
      padding: 10px;
      margin-right: 10px;
      border-radius: 10px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      color: #fff;
      background-color: blue;
    }